.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 15px 15px 15px 15px;
}

dd {
  margin-inline-start: 0px;
}

form {
  padding: 15px 15px;
} 

label {
  display: inline-block;
}

input {
  display: inline-block;
}
